<!DOCTYPE html>
<html lang="fr" ng-app="cakebox">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1">
    <title>Cakebox Light</title>
    <link href="ressources/images/cupcake.ico" rel="icon" type="image/png">

    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="components/alertifyjs/dist/css/alertify.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="ressources/css/cakebox.css" rel="stylesheet">

</head>
<body ng-controller="AppCtrl">
    <a href="#bottom" class="go-to-bottom">
        <i class="glyphicon glyphicon-arrow-down"></i>
    </a>
    <a href="#top" class="back-to-top">
        <i class="glyphicon glyphicon-arrow-up"></i>
    </a>
    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-cakebox">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Cakebox</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-cakebox">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active':!currentPage || currentPage == 'browse'}"><a href="#/browse/" translate> NAVBAR.LOOK_INTO </a></li>
                        <li><a href="../seedbox-manager" target="_blank"> Seedbox Manager </a></li>
                        <li ng-class="{'active':currentPage == 'about'}"><a href="#/about" translate> NAVBAR.ABOUT </a></li>
                    </ul>
                    <form ng-show="currentPage == 'browse' || currentPage == ''" class="navbar-form navbar-right searchbox" role="search">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="{{ 'NAVBAR.SEARCH' | translate }}" ng-model="search.text">
                            <a class="clear-search glyphicon glyphicon-remove form-control-feedback" ng-click="search.text = ''" ng-show="search.text.length"></a>
                            <span class="glyphicon glyphicon-search form-control-feedback hidden-xs"></span>
                        </div>
                    </form>
                </div><!-- .navbar-collapse -->
            </div><!-- container -->
        </nav>

        <div class="container" ng-view></div>

    </div><!-- wrap -->

    <footer>
        <div class="container">
            <p class="text-muted credit">Cakebox, useful tool since 2012.</p>
        </div>
    </footer>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="components/jquery/dist/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-i18n/angular-locale_fr-fr.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="components/alertifyjs/dist/js/alertify.js"></script>
    <script src="components/clipboard/dist/clipboard.min.js"></script>
    <script src="components/ng-clip/src/ngClip.js"></script>
    <script src="components/angular-translate/angular-translate.min.js"></script>
    <script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/models/App.js"></script>
    <script src="app/models/Rights.js"></script>
    <script src="app/models/Directory.js"></script>
    <script src="app/models/File.js"></script>
    <script src="app/models/Player.js"></script>
    <script src="app/models/Betaseries.js"></script>
    <script src="app/controller/AppCtrl.js"></script>
    <script src="app/controller/NavCtrl.js"></script>
    <script src="app/controller/BrowseCtrl.js"></script>
    <script src="app/controller/MediaCtrl.js"></script>
    <script src="app/controller/Breadcrumbs.js"></script>
    <script src="app/filter/bytes.js"></script>
    <script src="app/directive/webplayer.js"></script>

    <!-- "Go to bottom/top" buttons -->
    <script>
        jQuery(document).ready(function() {
        var offset = 30;
        var duration = 0;
        jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() <= offset) {
        jQuery('.go-to-bottom').fadeIn(duration);
        jQuery('.back-to-top').fadeOut(duration);
        } else {
        jQuery('.go-to-bottom').fadeOut(duration);
        jQuery('.back-to-top').fadeIn(duration);
        }

        jQuery('.go-to-bottom').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: $(document).height()}, duration);
        return false;
        });

        jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
        });
        });

        $(window).scroll();
        });
    </script>
</body>
</html>
